body {
    background: #657a62;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    font-family: trebuchet MS, arial;
}

img {
    width: 100%;
    max-width: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

a {
    color: white;
    text-decoration: none;
}